yfinance
#pandas included in yfinance
#numpy  included in yfinance
scipy
pandas_ta
matplotlib
dash
dash-bootstrap-components

# Web scraping packages
requests
bs4

# Databases
sqlalchemy
psycopg2
pyarrow

# Testing and dev packages (can be moved to a specific test requirements file)
pytest
pytest-cov
coverage
black


#Jupyter shit
ipykernel 
